:root {
  --primary-color: #8e2424;
  --secondary-color: rgba(195, 25, 25, 0.03);
  --heading-color: #101828;
  --text-color: #667085;
  --logo-color: #3a404e;
  --light-grey: #f9fafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--heading-color);
}

p {
  font-weight: 400;
  color: var(--text-color);
}

/* navbar */
nav, 
nav * {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  margin: 1.8rem 8rem;
  padding: 0 3.2rem;
}